__pycache__/
*.pyc
.vhdpproj.user
*.o
*.cf
vhdplus/Generated/
vhdl_ls.toml
vhdplus/db/

vhdplus/incremental_db/

vhdplus/output_files/

vhdplus/*.qpf

vhdplus/*.qsf

MAX1000 User Guide.pdf

# Build artifacts
*.qpf
*.qsf
db/
output_files/
*.vcd